{
  "client": {
    "name": "{{ ansible_hostname }}_{{ ansible_ssh_host }}",
    "address": "{{ ansible_ssh_host }}",
    "subscriptions": [ {{ subscriptions }} ],
    "environment" : {
        "ansible_system_vendor": "{{ ansible_system_vendor }}" ,
        "ansible_product_name": "{{ ansible_product_name }}"
    }
  }
}
