[youxia]
sensu_username = admin
sensu_password = {{ sensu_password }}
sensu_ip_address = {{ sensu_ip_address }}
sensu_port = 4567
aws_ssh_key = {{ aws_ssh_key }}
aws_key_name = oicr-aws-dyuen
aws_security_group = launch-wizard-73
openstack_username = {{ openstack_username }}
openstack_password = {{ openstack_password }}
openstack_endpoint = http://sweng.os.oicr.on.ca:5000/v2.0/
zone = us-east-1a
managed_tag = {{ managed_tag }}
slack_webhook = {{ slack_webhook }}

[deployer]
ami_image = {{ ami_image }}
instance_type = m1.xlarge
security_group = {{ security_group }}
product = Linux/UNIX


[seqware]
rest_user = admin@admin.com
rest_pass = {{ rest_pass }}
rest_port = 8080
rest_root = SeqWareWebService

[generator]
max_scheduled_workflows = 1
max_workflows = 1
workflow_accession = 2
workflow_name = Workflow_Bundle_BWA
workflow_version = 2.6.0
