{
  "checks": {
    "cron_check": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p cron -C 1 ",
      "interval": 60,
      "subscribers": [ "common" ]
    },
    "check-tomcat": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p tomcat7 -C 1 ",
      "interval": 60,
      "subscribers": [ "master" ]
    },
    "check-oozie": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p oozie -C 1 ",
      "interval": 60,
      "subscribers": [ "master" ]
    },
    "check-glusterfsd": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p glusterfsd -C 1 ",
      "interval": 60,
      "subscribers": [ "master", "worker" ]
    },
    "check-glusterd": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p glusterd -C 1 ",
      "interval": 60,
      "subscribers": [ "master", "worker" ]
    },
    "check-postgres": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p 'postgres: seqware' -C 1 ",
      "interval": 60,
      "subscribers": [ "master" ]
    },
    "free_memory_check": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-mem.sh -w 800 -c 500 ",
      "interval": 60,
      "subscribers": [ "common" ]
    },
    "cpu_load": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-cpu.rb -w 85 -c 95 ",
      "interval": 60,
      "occurrences": 3,
      "subscribers": [ "common" ]
    },
    "check-fs-writable": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-fs-writable.rb -d /mnt ",
      "interval": 60,
      "subscribers": [ "master" ]
    },
    "check-disk-space": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-disk.rb ",
      "interval": 60,
      "subscribers": [ "common" ]
    },
    "check-NFS": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p nfsd4 -C 1 ",
      "interval": 60,
      "subscribers": [ "master" ]
    },
    "check-ntp": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-ntp.rb ",
      "interval": 60,
      "subscribers": [ "common" ]
    },
    "sge_exec_check": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p /usr/lib/gridengine/sge_execd -C 1 ",
      "interval": 60,
      "subscribers": [ "compute" ]
    },
    "sge_master_check": {
      "handlers": ["default"],
      "command": "/etc/sensu/plugins/check-procs.rb -p /usr/lib/gridengine/sge_qmaster -C 1 ",
      "interval": 60,
      "subscribers": [ "master" ]
    }
  }
}
