{
  "checks": {
    "disk-usage-metrics": {
      "type": "metric",
      "command": "disk-usage-metrics.rb",
      "interval": 10,
      "subscribers": ["common"],
      "handlers": ["relay"]
    }
  }
}
