{
  "checks": {
    "interface_metrics": {
      "type": "metric",
      "command": "interface-metrics.rb -x lo",
      "interval": 10,
      "subscribers": ["common"],
      "handlers": ["relay"]
    }
  }
}
